.header{ 
    height: 6em;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.nav{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;

}

.logo{
    height: 90px;
    width: 90px;
    border-radius: 100px;
    margin-left: 5px;
    
}

.link{
    height:2em;
    background-color: white;
    
}